<?xml version="1.0"?>
<!-- OpenManipulator Manipulation -->
<robot name="open_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />

  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  
  <xacro:arg name="usb_port" default="/dev/ttyUSB0" />
  <xacro:arg name="usb_device" default="u2d2" />
  <xacro:arg name="baud_rate" default="1000000" />

  <!-- Import materials macro -->
  <xacro:include filename="$(find open_manipulator_description)/gazebo/materials.xacro" />

  <!-- Include OpenManipulator-X urdf macro -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator_x.urdf.xacro" />

  <!-- Include OpenManipulator-X gazebo macro -->
  <xacro:include filename="$(find open_manipulator_description)/gazebo/open_manipulator_x.gazebo.xacro" />

  <!-- Include OpenManipulator Manipulation ros2 control macro -->
  <xacro:include filename="$(find open_manipulator_description)/ros2_control/open_manipulator_system.ros2_control.xacro" />

  <xacro:open_manipulator_x prefix="$(arg prefix)" />
  <xacro:open_manipulator_x_gazebo prefix="$(arg prefix)" />

  <xacro:open_manipulator_system
    name="OpenManipulatorManipulationSystem" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    usb_port="$(arg usb_port)"
    usb_device="$(arg usb_device)"
    baud_rate="$(arg baud_rate)"
    />

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find open_manipulator_bringup)/config/gazebo_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
